<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/88b22b2e-eceb-416c-9e9d-559b47ddf2a9/resourceGroups/IS4439/providers/Microsoft.Web/sites/116391271silverspins</ResourceId>
    <ResourceGroup>IS4439</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://116391271silverspins.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>116391271silverspins.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>116391271silverspins</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$116391271silverspins</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>