@{
    ViewData["Title"] = "Error 404";
}


<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Images/errorCover.png);">
    <div class="bradcumbContent">
        <h2>Error 404</h2>

    </div>
</section>

<!-- ##### Breadcumb Area End ##### -->

<section class="latest-albums-area section-padding-100">
    <div class="container text-center">
        <h1>
            ¯\_(ツ)_/¯
            <br /><br />
            We're sorry, but the page you are looking for cannot be found. Perhaps you have entered the wrong address.
        </h1>
</div>
</section>